.Bengalkatze {
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
  height: auto;
  box-shadow: 0px 8px 58px 7px #aed30a;
  padding: 20px;
}

.underline {
  text-decoration: underline;
}

.Allgemein,
.Aussehen,
.Charakter,
.Herkunft {
  border: 5px solid #aed30a;
  padding: 20px;
  box-shadow: 0px 8px 58px 7px #aed30a;
  margin-top: 20px;
}